<a href="https://colab.research.google.com/github/lydiandiba/Independent-Project-Week-4/blob/master/Moringa_Data_Science_Prep_W4_Independent_Project_2019_11_Lydia_Ndiba_Python_iptnb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# importing pandas and numpys
import pandas as pd

import numpy as np

In [0]:
# loading datasets
cars = pd.read_csv("Autolib_dataset .csv")

# previewing datasets
cars

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

In [0]:
# accessing information from our dataset
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
Address                5000 non-null object
Cars                   5000 non-null int64
Bluecar counter        5000 non-null int64
Utilib counter         5000 non-null int64
Utilib 1.4 counter     5000 non-null int64
Charge Slots           5000 non-null int64
Charging Status        5000 non-null object
City                   5000 non-null object
Displayed comment      111 non-null object
ID                     5000 non-null object
Kind                   5000 non-null object
Geo point              5000 non-null object
Postal code            5000 non-null int64
Public name            5000 non-null object
Rental status          5000 non-null object
Scheduled at           47 non-null object
Slots                  5000 non-null int64
Station type           5000 non-null object
Status                 5000 non-null object
Subscription status    5000 non-null object
year                   5000 non-null int64
month                  5000 non-null int64
day                    5000 non-null int64
hour                   5000 non-null int64
minute                 5000 non-null int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [0]:
# dropping the column names that we wont be needing in analysis
cars.drop(['Cars','Displayed comment','Station type','Charge Slots','Charging Status','Scheduled at'], axis = 1, inplace= True)
cars

                                 Address  Bluecar counter  ...  hour  minute
0                    2 Avenue de Suffren                0  ...    11      43
1              145 Rue Raymond Losserand                6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4     6 avenue de la Porte de Champerret                3  ...    17      23
...                                  ...              ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte                2  ...    11      26
4996                   37 rue de Dantzig                4  ...    16      56
4997                      142 rue du Bac                1  ...     7       1
4998         2 avenue du Val de Fontenay                2  ...    17      27
4999                 5 Rue Henry Brisson                4  ...    10       2

[5000 rows x 19 columns]

In [0]:
#looking for missing values
cars.isnull().any()

Address                False
Bluecar counter        False
Utilib counter         False
Utilib 1.4 counter     False
City                   False
ID                     False
Kind                   False
Geo point              False
Postal code            False
Public name            False
Rental status          False
Slots                  False
Status                 False
Subscription status    False
year                   False
month                  False
day                    False
hour                   False
minute                 False
dtype: bool

In [0]:
#merging the columns year, month and day to form one column named date

cars['Date'] = cars["year"].map(str) +':'+ cars["month"].map(str) +':'+ cars["day"].map(str)
cars.head()

                              Address  Bluecar counter  ...  minute      Date
0                 2 Avenue de Suffren                0  ...      43  2018:4:8
1           145 Rue Raymond Losserand                6  ...      24  2018:4:6
2    2 Avenue John Fitzgerald Kennedy                3  ...      14  2018:4:3
3              51 Rue EugÃ¨ne OudinÃ©                3  ...      37  2018:4:4
4  6 avenue de la Porte de Champerret                3  ...      23  2018:4:8

[5 rows x 20 columns]

In [0]:
#merging the columns hour and minute to get a column time
cars['Time'] = cars["hour"].map(str) +':'+ cars["minute"].map(str) 
cars.head()

                              Address  Bluecar counter  ...      Date   Time
0                 2 Avenue de Suffren                0  ...  2018:4:8  11:43
1           145 Rue Raymond Losserand                6  ...  2018:4:6   7:24
2    2 Avenue John Fitzgerald Kennedy                3  ...  2018:4:3  20:14
3              51 Rue EugÃ¨ne OudinÃ©                3  ...  2018:4:4   4:37
4  6 avenue de la Porte de Champerret                3  ...  2018:4:8  17:23

[5 rows x 21 columns]

In [0]:
#merging our newly formed columns date and time to form a column date_time
cars['Date_Time'] = cars["Date"].map(str) +':'+ cars["Time"].map(str)
cars.head()

                              Address  Bluecar counter  ...   Time       Date_Time
0                 2 Avenue de Suffren                0  ...  11:43  2018:4:8:11:43
1           145 Rue Raymond Losserand                6  ...   7:24   2018:4:6:7:24
2    2 Avenue John Fitzgerald Kennedy                3  ...  20:14  2018:4:3:20:14
3              51 Rue EugÃ¨ne OudinÃ©                3  ...   4:37   2018:4:4:4:37
4  6 avenue de la Porte de Champerret                3  ...  17:23  2018:4:8:17:23

[5 rows x 22 columns]

In [0]:
#merging date, time and date_time
cars['Datetimecomb']= cars["Date"].map(str) +':'+ cars["Time"].map(str) +':'+cars["Date_Time"].map(str)
cars.head()

                              Address  ...                   Datetimecomb
0                 2 Avenue de Suffren  ...  2018:4:8:11:43:2018:4:8:11:43
1           145 Rue Raymond Losserand  ...    2018:4:6:7:24:2018:4:6:7:24
2    2 Avenue John Fitzgerald Kennedy  ...  2018:4:3:20:14:2018:4:3:20:14
3              51 Rue EugÃ¨ne OudinÃ©  ...    2018:4:4:4:37:2018:4:4:4:37
4  6 avenue de la Porte de Champerret  ...  2018:4:8:17:23:2018:4:8:17:23

[5 rows x 23 columns]

In [0]:
from datetime import datetime
cars_1 = cars
cars_1['Datetimecomb'] = pd.to_datetime(cars['Datetimecomb'] , format='%Y:%m:%d:%H:%M:%S', errors = 'coerce')
cars_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 23 columns):
Address                5000 non-null object
Bluecar counter        5000 non-null int64
Utilib counter         5000 non-null int64
Utilib 1.4 counter     5000 non-null int64
City                   5000 non-null object
ID                     5000 non-null object
Kind                   5000 non-null object
Geo point              5000 non-null object
Postal code            5000 non-null int64
Public name            5000 non-null object
Rental status          5000 non-null object
Slots                  5000 non-null int64
Status                 5000 non-null object
Subscription status    5000 non-null object
year                   5000 non-null int64
month                  5000 non-null int64
day                    5000 non-null int64
hour                   5000 non-null int64
minute                 5000 non-null int64
Date                   5000 non-null object
Time                   5000 non-null object
Date_Time              5000 non-null object
Datetimecomb           0 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(10), object(12)
memory usage: 898.6+ KB

In [0]:
#fixing the messy columns
cars.columns = cars.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('.', '')
cars.head()

                              address  ...  datetimecomb
0                 2 Avenue de Suffren  ...           NaT
1           145 Rue Raymond Losserand  ...           NaT
2    2 Avenue John Fitzgerald Kennedy  ...           NaT
3              51 Rue EugÃ¨ne OudinÃ©  ...           NaT
4  6 avenue de la Porte de Champerret  ...           NaT

[5 rows x 23 columns]

In [0]:
#creating new columns for the usage of the bluecars, utilib and utilib 1.4
cars['usage_bluecar'] = cars.bluecar_counter.diff()
cars.head()

                              address  ...  usage_bluecar
0                 2 Avenue de Suffren  ...            NaN
1           145 Rue Raymond Losserand  ...            6.0
2    2 Avenue John Fitzgerald Kennedy  ...           -3.0
3              51 Rue EugÃ¨ne OudinÃ©  ...            0.0
4  6 avenue de la Porte de Champerret  ...            0.0

[5 rows x 24 columns]

In [0]:
cars['usage_utilib'] = cars.utilib_counter.diff()
cars.head()

                              address  ...  usage_utilib
0                 2 Avenue de Suffren  ...           NaN
1           145 Rue Raymond Losserand  ...           0.0
2    2 Avenue John Fitzgerald Kennedy  ...           0.0
3              51 Rue EugÃ¨ne OudinÃ©  ...           1.0
4  6 avenue de la Porte de Champerret  ...          -1.0

[5 rows x 25 columns]

In [0]:
#creating the usage_utilib14
cars['usage_utilib_14'] = cars.utilib_14_counter.diff()
cars.head()

                              address  ...  usage_utilib_14
0                 2 Avenue de Suffren  ...              NaN
1           145 Rue Raymond Losserand  ...              0.0
2    2 Avenue John Fitzgerald Kennedy  ...              2.0
3              51 Rue EugÃ¨ne OudinÃ©  ...             -2.0
4  6 avenue de la Porte de Champerret  ...              0.0

[5 rows x 26 columns]

In [0]:
#from our new usage columns;
#all the positive values represent cars that were returned
#the negative values represent the cars that were picked 
#and zero values mean nothing happened, no cars were picked or dropped

In [0]:
#viewing our bluecar_counter and the usage_counter
cars[['bluecar_counter','usage_bluecar']]

      bluecar_counter  usage_bluecar
0                   0            NaN
1                   6            6.0
2                   3           -3.0
3                   3            0.0
4                   3            0.0
...               ...            ...
4995                2            2.0
4996                4            2.0
4997                1           -3.0
4998                2            1.0
4999                4            2.0

[5000 rows x 2 columns]

In [0]:
#Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018
cars[(cars.city == 'Paris')&
     (cars.usage_bluecar < 0)].groupby('hour')['hour'].count().sort_values(ascending = False).head(1)

hour
21    80
Name: hour, dtype: int64

Most popular hour for picking up a bluecar is 2100hours

In [0]:
#we can also find the most popular hour by subseting
paris_df = cars[cars.city =='Paris']
paris_df[['bluecar_counter','usage_bluecar','hour']]
paris_df

                                 address  ...  usage_utilib_14
0                    2 Avenue de Suffren  ...              NaN
1              145 Rue Raymond Losserand  ...              0.0
3                 51 Rue EugÃ¨ne OudinÃ©  ...             -2.0
4     6 avenue de la Porte de Champerret  ...              0.0
5                   8 Boulevard Voltaire  ...              0.0
...                                  ...  ...              ...
4992                     3 avenue d'Ivry  ...              0.0
4994                    15 rue de Rocroy  ...              0.0
4996                   37 rue de Dantzig  ...              0.0
4997                      142 rue du Bac  ...              0.0
4999                 5 Rue Henry Brisson  ...              0.0

[2816 rows x 26 columns]

In [0]:
paris_df[(paris_df.usage_bluecar < 0)].groupby('hour')['hour'].count().sort_values(ascending = False). head(1)

hour
21    80
Name: hour, dtype: int64

In [0]:
#What is the most popular hour for returning cars?
cars[(cars.city == 'Paris') & 
   (cars.usage_bluecar > 0)].groupby('hour')['usage_bluecar'].count().sort_values(ascending = False).head(1)

hour
3    49
Name: usage_bluecar, dtype: int64

Most popular hour for returning cars is 0300 hours

In [0]:
#What station is the most popular overall?
cars[(cars.kind == 'STATION')& (cars.status == 'ok')].groupby('public_name')[['kind']].count().sort_values(by = 'kind', ascending = False).head(1)

                            kind
public_name
Paris/Porte de Montrouge/8    13

The most popular station is Paris/Porte de Montrouge/8

In [0]:
#What station is the most popular at the most popular picking hour?
cars[(cars.kind == 'STATION')& ()]